 {
		box-sizing: border-box;
	}


div  {position: relative;
		
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
	text-align: justify;
}

.content-cell {
	background-color: #BBDDBB;
	position: relative;
	margin-bottom: 15px;
	padding: 10px 15px;
	width: 100%;
			margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
		}

.content-cell h2 {
	margin-top: -5px;
}

/* Not XS screen */
@media (min-width:768px){
	#collapsable-nav {
		visibility: hidden;
	}
}

/* XS screen */
@media (max-width:767px){
	
	.navbar-brand {
		margin-left: 15px;
	}
	
	.content-cell {
		margin-left: auto;
		margin-right: auto;
	}
	
	#collapsable-nav {
		background-color: #BBEABB;
	}
	
	#nav-list {		
		margin-bottom: 1px;
		margin-top: 0px;
	}
	
	#nav-list li{
		text-align: center;
		border: 1px solid #559955;
		margin-bottom:-1px;
	}
	#nav-list li:hover{
		font-weight: bold;
		background-color: #BBDDBB;
	}
}
